<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/CropMate"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CropMate25"
        tools:targetApi="31">
        <activity
            android:name=".viewReply"
            android:exported="false" />
        <activity
            android:name=".forumDetails"
            android:exported="false" />
        <activity
            android:name=".ActivityUpdateThread"
            android:exported="false" />
        <activity
            android:name=".ActivityCreateThread"
            android:exported="false" />
        <activity
            android:name=".CommunityForum"
            android:exported="false" />
        <activity
            android:name=".recommendSearchShow"
            android:exported="false" />
        <activity
            android:name=".recommend_search"
            android:exported="false" /> <!-- Other activities -->
        <activity
            android:name=".ProfileActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.cropmate25.ACTION_PROFILE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpdateActivity"
            android:exported="false" />
        <activity
            android:name=".DetailActivity"
            android:exported="false" />
        <activity
            android:name=".UploadActivity"
            android:exported="false" />
        <activity
            android:name=".MarketplaceActivity"
            android:exported="false" />
        <activity
            android:name=".NewsFullActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".NewsRecyclerAdapter"
            android:exported="false" />
        <activity
            android:name=".NewsActivity"
            android:exported="false" />
        <activity
            android:name=".FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".WeatherFragment"
            android:exported="false" />
        <activity
            android:name=".HomeFragment"
            android:exported="false" />
        <activity
            android:name=".RecommendFragment"
            android:exported="false" />
        <activity
            android:name=".NewsFragment"
            android:exported="false" />
        <activity
            android:name=".MarketPlaceFragment"
            android:exported="false" />
        <activity
            android:name=".PopupActivity"
            android:exported="false" />
        <activity
            android:name=".Popup_add_post"
            android:exported="false" />
        <activity
            android:name=".PostDetailActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>